<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SchoolAttendanceMapper">
    
    <resultMap type="SchoolAttendance" id="SchoolAttendanceResult">
        <result property="attendanceId"    column="attendance_id"    />
        <result property="teacherUserId"    column="teacher_user_id"    />
        <result property="courseId"    column="course_id"    />
        <result property="courseName"    column="course_name"    />
        <result property="courseStart"    column="course_start"    />
        <result property="courseEnd"    column="course_end"    />
        <result property="totalNumber"    column="total_number"    />
        <result property="signIn"    column="sign_in"    />
        <result property="noSignIn"    column="no_sign_in"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectSchoolAttendanceVo">
        select attendance_id, teacher_user_id, course_id, course_name, course_start, course_end, total_number, sign_in, no_sign_in, create_time from school_attendance
    </sql>

    <select id="selectSchoolAttendanceList" parameterType="SchoolAttendance" resultMap="SchoolAttendanceResult">
        <include refid="selectSchoolAttendanceVo"/>
        <where>  
            <if test="teacherUserId != null "> and teacher_user_id = #{teacherUserId}</if>
            <if test="courseId != null "> and course_id = #{courseId}</if>
            <if test="courseName != null  and courseName != ''"> and course_name like concat('%', #{courseName}, '%')</if>
            <if test="courseStart != null "> and course_start = #{courseStart}</if>
            <if test="courseEnd != null "> and course_end = #{courseEnd}</if>
            <if test="totalNumber != null "> and total_number = #{totalNumber}</if>
            <if test="signIn != null "> and sign_in = #{signIn}</if>
            <if test="noSignIn != null "> and no_sign_in = #{noSignIn}</if>
        </where>
    </select>
    
    <select id="selectSchoolAttendanceByAttendanceId" parameterType="Long" resultMap="SchoolAttendanceResult">
        <include refid="selectSchoolAttendanceVo"/>
        where attendance_id = #{attendanceId}
    </select>
        
    <insert id="insertSchoolAttendance" parameterType="SchoolAttendance" useGeneratedKeys="true" keyProperty="attendanceId">
        insert into school_attendance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teacherUserId != null">teacher_user_id,</if>
            <if test="courseId != null">course_id,</if>
            <if test="courseName != null">course_name,</if>
            <if test="courseStart != null">course_start,</if>
            <if test="courseEnd != null">course_end,</if>
            <if test="totalNumber != null">total_number,</if>
            <if test="signIn != null">sign_in,</if>
            <if test="noSignIn != null">no_sign_in,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teacherUserId != null">#{teacherUserId},</if>
            <if test="courseId != null">#{courseId},</if>
            <if test="courseName != null">#{courseName},</if>
            <if test="courseStart != null">#{courseStart},</if>
            <if test="courseEnd != null">#{courseEnd},</if>
            <if test="totalNumber != null">#{totalNumber},</if>
            <if test="signIn != null">#{signIn},</if>
            <if test="noSignIn != null">#{noSignIn},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateSchoolAttendance" parameterType="SchoolAttendance">
        update school_attendance
        <trim prefix="SET" suffixOverrides=",">
            <if test="teacherUserId != null">teacher_user_id = #{teacherUserId},</if>
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="courseName != null">course_name = #{courseName},</if>
            <if test="courseStart != null">course_start = #{courseStart},</if>
            <if test="courseEnd != null">course_end = #{courseEnd},</if>
            <if test="totalNumber != null">total_number = #{totalNumber},</if>
            <if test="signIn != null">sign_in = #{signIn},</if>
            <if test="noSignIn != null">no_sign_in = #{noSignIn},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where attendance_id = #{attendanceId}
    </update>

    <delete id="deleteSchoolAttendanceByAttendanceId" parameterType="Long">
        delete from school_attendance where attendance_id = #{attendanceId}
    </delete>

    <delete id="deleteSchoolAttendanceByAttendanceIds" parameterType="String">
        delete from school_attendance where attendance_id in 
        <foreach item="attendanceId" collection="array" open="(" separator="," close=")">
            #{attendanceId}
        </foreach>
    </delete>
</mapper>